.pages {
  padding: 20px;
  color: yellow;
}

input {
  height: 40px;
  width: 92%;
}

.blog-card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  padding: 16px;
  margin: 10px;
  transition: transform 0.2s;
  height: 400px;
  overflow: auto;
  width: 90%;
}

.blog-card:hover {
  transform: translateY(-5px);
}

.blog-card h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #333;
}

.btn {
  width: 110px;
  margin: 5px;
}

.task-card {
  background: #969393;
  padding: 20px;
  margin: 10px;
  width: 90%;
}

p {
  color: #fff;
}

.tasks {
  padding: 10px;
}

#left {
  cursor: pointer;
}

#right {
  cursor: pointer;
  display: none;
}

.main-container {
  display: flex;
  gap: 60px;
}

.side-menu {
  transition: width 0.3s ease;
  overflow: hidden;
  white-space: nowrap;
  height: 100vh;
  background-color: black;
  color: yellow;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 20px;
  position: relative;
}

.side-menu.expanded {
  width: 200px;
}

.side-menu.collapsed {
  width: 30px;
}

.content-container {
  flex-grow: 1;
  padding: 20px;
  color: rgb(10, 10, 10);
  display: flex;
  justify-content: center;
  align-items: center;
}

.out {
  cursor: pointer;
}
